<!DOCTYPE html>
<html>
  <head>
    <title>VuejsRorSetup</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'hello_vue', media: 'all' %>
    <%= javascript_pack_tag 'hello_vue', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <div id='hello-example-from-template'>
      {{message}}
      <app message="Hello Vue with compiler!"></app>
    </div>
  </body>
</html>
